
#pop-up{
  position:fixed;
  padding:10px;
  bottom:0;
  left:3px;
  width:370px;
  border:2px solid black;
  border-radius: 5px;
  border-style: dotted;
  background: rgba(200,150,200,0.1);
}

.btn{
  margin:0 100px;
  padding:5px;
  border-style: dotted;
}

.cl-btn{
  margin:10px 150px;
  padding:5px;
  border-style: dotted;
}
